---
title: The Prodigal God # will be overwritten by SEO.title below
description: 
permalink: /the-prodigal-god/index.html
date: 
layout: page
body_class:
seo:
  title:  # overrides 'title' above on both Page and META
  description:
  image:
tags:
  - TimKeller
---

[caption id="attachment_968" align="alignleft" width="207" caption="The Prodigal God by Tim Keller"]<img src="https://www.ecrosstexas.com/wp-content/uploads/2009/10/9780525950790m.jpg" alt="The Prodigal God (cover) by Tim Keller" title="The Prodigal God" width="207" height="299" class="size-full wp-image-968" />[/caption]

<strong>Description</strong>: Newsweek called renowned minister Timothy Keller "a C. S. Lewis for the twenty-first century" in a feature on his first book,  <em>The Reason for God</em>. In the book, he offered a rational explanation of why we should believe in God. Now, in <em>The Prodigal God</em>, he uses one of the best-known Christian parables to reveal an unexpected message of hope and salvation.

The Prodigal Son is the most well-known parable in the Bible. Incredibly, it is also almost universally misunderstood. Taking his trademark intellectual approach to understanding Christianity, Keller uncovers the essential message of Jesus, hidden in plain sight for centuries. Within this parable is the lost message of Jesus--where he outlines just how his followers are supposed to love so they can join him in Heaven. With this book, both the devout and skeptics will see Christianity in a whole new way.

Official site: <a href="http://theprodigalgod.com/">theprodigalgod.com</a>

Order The Prodigal God: Recovering the Heart of the Christian Faith

<dl>
<dt>from <a href="http://www.amazon.com/Prodigal-God-Recovering-Heart-Christian/dp/0525950796/ecrosstexas-20/" title="Order The Prodigal God: Recovering the Heart of the Christian Faith at Amazon.com">Amazon.com</a></dt>
<dt>from <a href="http://www.monergismbooks.com/The-Prodigal-God-Recovering-the-Heart-of-the-Christian-Faith-p-17916.html" title="Order The Prodigal God: Recovering the Heart of the Christian Faith at Monergism.com">Monergism.com</a></dt>
<dt>from <a href="http://www.wtsbooks.com/product-exec/product_id/5762/" title="Order The Prodigal God: Recovering the Heart of the Christian Faith at WTSBooks.com">WTSBooks</a></dt>
</dl>

A <a href="http://www.wtsbooks.com/product-exec/product_id/6488/">DVD</a> and <a href="http://www.wtsbooks.com/product-exec/product_id/6487/">discussion guide</a> are also available.

