---
title: Tags
description:
layout: layouts/base.njk
permalink: /tags/
eleventyExcludeFromCollections: true
---

<h1>List of tags in use</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}