---
layout: page
permalink: /til/index.html
meta_title: Today I learned
meta_description:
body_class: til
title: Today I learned
sub_title: Learning in Public
eleventyExcludeFromCollections: true
robots: noindex
templateEngineOverride: njk,md
---
<h2>Learning in Public</h2>

{% wrap "bg-green-100 mt-4 border border-green-300 rounded-lg" %}

## Inspired by
- [https://dev.to/jbranchaud/how-i-built-a-learning-machine-45k9](https://dev.to/jbranchaud/how-i-built-a-learning-machine-45k9)
- [https://til.simonwillison.net](https://til.simonwillison.net)
- [https://simonwillison.net/2020/Apr/20/self-rewriting-readme/](https://simonwillison.net/2020/Apr/20/self-rewriting-readme/)
- [https://www.marclittlemore.com/learn-in-public/](https://www.marclittlemore.com/learn-in-public/)

{% endwrap %}
