---
# http://humanstxt.org/
permalink: /humans.txt
layout: null
eleventyExcludeFromCollections: true
---
# humanstxt.org/
# The humans responsible & technology colophon

/* TEAM */

    Creator: {{ meta.author }}
    Contact: {{ meta.authorEmail }}
    Twitter: {{ meta.twitterCreator }}
    Location: {{ meta.location }}

/* THANKS */

    Name: name or url

/* SITE */

    Last update: {{ page.date.toISOString() }}
    Standards: HTML5, CSS3,
    Components: TailwindCSS, Alpine.js,
    Software: 11ty
