---
# http://www.robotstxt.org
permalink: /robots.txt
layout: null
eleventyExcludeFromCollections: true
---
Sitemap: {{ meta.siteURL }}/sitemap.xml

# Allow crawling of all content
User-agent: *
Disallow: /admin
